*{
  margin: 0;
  padding: 0;
}
.cont{
  background-color: rgb(137, 43, 226);
  padding: 5.4%;
} 
.former{
  background-color: rgb(254, 250, 254);
  padding: 50px;
}
.submit{
  justify-content: center;
}
h1{
  text-align: center;
  margin-left: 50px;
}
span{
  margin-left: 25px;
  color: red;
}
.data{
  padding: 50px 250px;
}
